<div style="max-width: 100%; width: 600px; left: 0px; color: white;">
    <div style="margin: 0px 20px; font-size: 12px; text-align: right;"><span class="_author"></span>가 <span class="_created-at"></span>에 작성함</div>
    <div class="_title" style="margin: 10px; padding: 10px; font-size: 16px; text-align: left; background-color: rgba(0, 0, 0, 0.4); border-radius: 5px; user-select: text;"></div>
    <div class="scrollbox" style="margin: 10px; font-size: 14px; text-align: left; max-height: 240px; padding: 10px; background-color: rgba(0, 0, 0, 0.4); border-radius: 5px; overflow: auto;">
        <pre class="_content" style="font-family: system-ui; margin: 0px; padding: 0px; white-space: break-spaces; word-break: break-all; line-height: 200%; user-select: text;"></pre>
    </div>
    <div class="_tags" style="margin: 10px; font-size: 14px; text-align: left;"></div>
    <div style="text-align: center;">
        <a class="_edit-button" href="javascript:void(0)" style="cursor: pointer; display: inline-block; min-width: 64px; height: 32px; line-height: 32px; text-align: center; margin-top: 8px; margin-bottom: 10px; padding: 2px 20px; border-radius: 6px; box-shadow: inset 0px 0px 20px rgba(255, 255, 255, 0.2);">수정</a>
        <a class="_back-button" href="javascript:void(0)" style="cursor: pointer; display: inline-block; min-width: 64px; height: 32px; line-height: 32px; text-align: center; margin-top: 8px; margin-bottom: 10px; padding: 2px 20px; border-radius: 6px; box-shadow: inset 0px 0px 20px rgba(255, 255, 255, 0.2);">목록으로</a>
    </div>
</div>