<a href="javascript:void(0)" style="display: flex; position: relative; border-radius: 4px; color: white; margin: 2px 4px; padding: 2px 8px; font-size: 14px; line-height: 26px; word-break: keep-all; text-overflow: ellipsis; overflow: hidden; cursor: pointer; user-select: none;">
    <span class="_no" style="width: 40px; margin-right: 10px;"></span>
    <span class="_title" style="text-overflow: ellipsis; overflow: hidden; white-space: nowrap; width: 400px;"></span>
    <span class="_author" style="width: 100px; text-align: center; margin-left: 10px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;"></span>
    <span class="_created-at" style="width: 100px; text-align: right; margin-left: 10px; white-space: nowrap;"></span>
</a>