<div class="_dismiss" style="display: flex; flex-direction: column; justify-content: center; align-items: center; position: absolute; inset: 12px 12px 48px;">
    <div style="position: relative; max-width: 100%; max-height: 100%;">
        <div class="scrollbox" style="position: relative; background-color: rgba(0, 0, 60, 0.6); border: 1px solid rgba(255, 255, 255, 0.8); border-radius: 6px; box-shadow: rgba(255, 255, 255, 0.4) 0px 0px 5px 0px; max-width: 100%; max-height: 100%; overflow: hidden auto; padding: 10px; user-select: none;">
            <div style="width: 100%; max-width: 560px; height: 100%; left: 0px; top: 0px;">
                <div style="left: 0px; top: 0px; height: 60px; margin: 0px 32px; color: white; font-size: 16px; text-align: center; line-height: 60px;"><span class="_title"></span> - <span class="_page">?</span> 페이지</span></div>
                <div class="_list" style="max-width: 100%; left: 0px; top: 60px; bottom: 0px; overflow: auto;"></div>
                <div class="_pagination" style="max-width: 100%; left: 0px; height: 60px; color: white; font-size: 12px; text-align: center; line-height: 60px;"></div>
                <div class="_detail" style="display: none; max-width: 100%; min-width: 480px; left: 0px; color: white;">
                    <div class="_title" style="margin: 10px 20px; font-size: 16px; text-align: left;"></div>
                    <div style="margin: 0px 20px; font-size: 12px; text-align: right;"><span class="_author"></span>가 <span class="_created-at"></span>에 작성함</div>
                    <div class="scrollbox" style="margin: 20px; font-size: 14px; text-align: left; max-height: 240px; padding: 10px 20px; border-left: 2px solid white; background-color: rgba(0, 0, 0, 0.2); overflow: auto;">
                        <pre class="_content" style="font-family: system-ui; margin: 0px; padding: 0px; white-space: break-spaces;"></pre>
                    </div>
                    <div class="_tags" style="margin: 20px; font-size: 12px; text-align: left;"></div>
                    <div style="text-align: center;">
                        <a class="_back-button" href="javascript:void(0)" style="cursor: pointer; text-decoration: none; display: inline-block; min-width: 64px; height: 32px; line-height: 32px; text-align: center; margin-top: 8px; margin-bottom: 10px; padding: 2px 20px; border-radius: 6px; box-shadow: inset 0px 0px 20px rgba(255, 255, 255, 0.2);">목록으로</a>
                    </div>
                </div>
                <div class="_loading knead" style="display: none; position: absolute; left: 50%; top: 50%; margin-left: -13px; margin-top: 16px; width: 24px; height: 8px; background-color: white; border: 1px solid white; border-radius: 10px; box-shadow: 0px 0px 8px rgb(0 255 231);"></div>
            </div>
        </div>
    </div>
</div>