<div class="_dismiss" style="display: flex; flex-direction: column; justify-content: center; align-items: center; position: absolute; inset: 12px 12px 48px;">
    <div style="position: relative; max-width: 100%; max-height: 100%;">
        <div class="scrollbox" style="position: relative; background-color: rgba(0, 0, 60, 0.66); border: 1px solid rgba(255, 255, 255, 0.8); border-radius: 6px; box-shadow: rgba(255, 255, 255, 0.4) 0px 0px 5px 0px; max-width: 100%; max-height: 100%; overflow: hidden auto; padding: 10px; user-select: none;">
            <div style="max-width: 100%; width: 600px; left: 0px; color: white;">
                <div style="left: 0px; top: 0px; height: 60px; margin: 0px 32px; color: white; font-size: 16px; text-align: center; line-height: 60px;"><span class="_title"></span></div>
                <div>
                    TODO: TABLE HERE
                </div>
            </div>
        </div>
    </div>
</div>