<div class="_dismiss" style="display: flex; flex-direction: column; justify-content: center; align-items: center; position: absolute; inset: 12px 12px 48px;">
    <div style="position: relative; max-width: 100%; max-height: 100%;">
        <div class="scrollbox" style="position: relative; background-color: rgba(0, 0, 60, 0.6); border: 1px solid rgba(255, 255, 255, 0.8); border-radius: 6px; box-shadow: rgba(255, 255, 255, 0.4) 0px 0px 5px 0px; max-width: 100%; max-height: 100%; overflow: hidden auto; padding: 10px 16px; user-select: none;">
            <div style="width: 100%; height: 100%; left: 0px; top: 0px;">
                <div style="left: 0px; top: 0px; height: 60px; margin: 0px 32px; color: white; font-size: 16px; text-align: center; line-height: 60px;"><span class="_title"></div>
                <div style="width: 600px; max-width: 100%;">
                    <input class="title-input _title-input" type="text" placeholder="제목은 여기에 간단하게!" maxlength="255" style="display: block; width: 100%; padding: 8px 0px; margin: 8px 0px; color: white; background-color: transparent; font-size: 14px;">
                    <textarea class="content-input _content-input" placeholder="내용을 여기에 자세하게!" style="display: block; width: 100%; height: 300px; padding: 8px 0px; margin: 8px 0px; font-size: 14px; color: white; background-color: transparent;"></textarea>
                    <div style="text-align: center;">
                        <a class="_save" href="javascript:void(0)" style="cursor: pointer; text-decoration: none; display: inline-block; min-width: 64px; height: 32px; line-height: 32px; text-align: center; margin-top: 8px; margin-bottom: 10px; padding: 2px 20px; border-radius: 6px;">저장</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>