<div class="_dismiss" style="display: flex; flex-direction: column; justify-content: center; align-items: center; position: absolute; inset: 12px 12px 48px;">
    <div style="position: relative; max-width: 100%; max-height: 100%;">
        <div class="scrollbox" style="position: relative; background-color: rgba(0, 0, 60, 0.66); border: 1px solid rgba(255, 255, 255, 0.8); border-radius: 6px; box-shadow: rgba(255, 255, 255, 0.4) 0px 0px 5px 0px; max-width: 100%; max-height: 100%; overflow: hidden auto; padding: 10px; user-select: none;">
            <div style="max-width: 100%; width: 600px; left: 0px; color: white;">
                <div style="left: 0px; top: 0px; height: 60px; margin: 0px 32px; color: white; font-size: 16px; text-align: center; line-height: 60px;"><span class="_title"></span> 기록 수정</div>
                <div style="max-width: 100%; width: 600px; left: 0px; color: white;">
                    <div style="margin: 10px;">
                        <input class="input _subject-input" type="text" placeholder="제목은 여기에 간단하게!" maxlength="255" style="display: block; width: 100%; padding: 8px 0px; margin: 8px 0px; color: white; background-color: transparent; font-size: 16px;">
                        <textarea class="textarea scrollbox _content-input" placeholder="내용을 여기에 자세하게!" style="display: block; width: 100%; height: 160px; padding: 8px 0px; margin: 8px 0px; font-size: 16px; color: white; background-color: transparent;"></textarea>
                        <div style="display: flex; justify-content: flex-end;">
                            <select class="select _content-type-input" style="display: block; width: 120px; padding: 8px 0px; margin: 8px 10px 8px 0px; color: white; background-color: transparent; font-size: 16px;" disabled>
                                <option value="TEXT" selected>서식 없음</option>
                                <option value="HTML">웹 서식</option>
                                <option value="MARKDOWN">MD 서식</option>
                            </select>
                            <select class="select _readable-target-input" style="display: block; width: 120px; padding: 8px 0px; margin: 8px 0px; color: white; background-color: transparent; font-size: 16px;">
                                <option value="ONLY_ME" selected>나만 보기</option>
                                <option value="MEMBER">이웃 공개</option>
                                <option value="ALL">전체 공개</option>
                            </select>
                        </div>
                        <div>
                            <input class="input _link-input" type="url" placeholder="관련 링크를 여기에 적어주세요!" maxlength="1024" style="display: block; width: 100%; padding: 8px 0px; margin: 8px 0px; color: white; background-color: transparent; font-size: 16px;">
                        </div>
                        <input class="input _tags-input" type="text" placeholder="관련 태그들을 여기에 적어주세요! (콤마와 공백 등으로 구분)" maxlength="255" style="display: block; width: 100%; padding: 8px 0px; margin: 8px 0px; color: white; background-color: transparent; font-size: 16px;">
                        <input class="input _created-at-input" type="text" placeholder="생성 일시" maxlength="255" style="display: block; width: 100%; padding: 8px 0px; margin: 8px 0px; color: white; background-color: transparent; font-size: 16px;">
                    </div>
                    <div style="margin: 0px 10px 20px;">
                        <div style="display: flex; justify-content: space-around; margin-top: 8px; column-gap: 10px;">
                            <div style="display: flex; column-gap: 10px;">
                                <a class="_save-button" href="javascript:void(0)" style="cursor: pointer; display: inline-block; min-width: 48px; height: 32px; line-height: 32px; text-align: center; padding: 2px 20px; border-radius: 6px; box-shadow: inset 0px 0px 20px rgba(255, 255, 255, 0.2);">저장</a>
                                <a class="_cancel-button" href="javascript:void(0)" style="cursor: pointer; display: inline-block; min-width: 48px; height: 32px; line-height: 32px; text-align: center; padding: 2px 20px; border-radius: 6px; box-shadow: inset 0px 0px 20px rgba(255, 255, 255, 0.2);">취소</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="_loading" style="display: none; position: absolute; left: 0%; top: 0%; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.4); border-radius: 6px;">
            <div class="knead" style="position: absolute; left: 50%; top: 50%; margin-left: -13px; margin-top: 0px; width: 24px; height: 8px; background-color: white; border: 1px solid white; border-radius: 10px; box-shadow: 0px 0px 8px rgb(0 255 231);"></div>
        </div>
    </div>
</div>