<div style="position: relative; border-radius: 4px; color: white; margin: 24px 0px; padding: 0px; font-size: 14px; line-height: 26px; word-break: keep-all; text-overflow: ellipsis; overflow: hidden; user-select: none;">
    <div style="display: flex; justify-content: space-between; flex-wrap: nowrap; align-items: center;">
        <div style="margin: 0px; padding: 4px; font-size: 14px; text-align: left;">
            <span class="_no" style="margin-right: 10px;"></span>
        </div>
        <div class="scrollbox" style="font-size: 14px; text-align: left; width: 100%; max-height: 320px; margin: 0px; padding: 10px; background-color: rgba(0, 0, 0, 0.4); border-radius: 5px; overflow: auto;">
            <pre class="_content" style="font-family: system-ui; margin: 0px; padding: 0px; white-space: break-spaces; word-break: break-all; line-height: 200%; user-select: text;"></pre>
        </div>
    </div>
    <div style="margin: 0px 10px; padding: 0px; font-size: 12px; text-align: right;">
        <span class="_author"></span>가 <span class="_created-at"></span>에 작성함
    </div>
</div>