<div style="position: relative; border-radius: 4px; color: white; margin: 8px 0px; padding: 2px 8px; font-size: 14px; line-height: 26px; word-break: keep-all; text-overflow: ellipsis; overflow: hidden; cursor: pointer; user-select: none;">
    <div style="margin: 0px; padding: 4px; font-size: 14px; text-align: left; user-select: text;">
        <span class="_no" style="margin-right: 10px;"></span>
        <span class="_author"></span>
    </div>
    <div class="scrollbox" style="font-size: 14px; text-align: left; max-height: 160px; margin: 0px; padding: 10px; background-color: rgba(0, 0, 0, 0.4); border-radius: 5px; overflow: auto;">
        <pre class="_content" style="font-family: system-ui; margin: 0px; padding: 0px; white-space: break-spaces; word-break: break-all; line-height: 200%; user-select: text;"></pre>
    </div>
    <div style="margin: 0px 12px; padding: 0px; font-size: 12px; text-align: right; user-select: text;">
        <span class="_created-at"></span>에 작성함
    </div>
</div>